<div [@navBarChangeSize]="currentSize" class="py-3 nav">
    <a class="nav-element" routerLink="home">
        <img src="../../../assets/img/demo-logo.png" class="mx-3 img" />
    </a>

    <div class="col-4"></div>
    <div class="dropdown nav-element">
        <button class="dropbtn">Services <i class=" down"></i></button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown nav-element ">
        <button class="dropbtn">Dental Problems <i class=" down"></i></button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown nav-element ">
        <button class="dropbtn">Travel Facilities <i class=" down"></i></button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="profile">
        <app-profile></app-profile>
    </div>
</div>