<div [@navBarChangeSize]="currentSize" class="nav">
  <div class="img" [ngClass]>
    <img src="../../../assets/img/demo-logo.png" width="70px" (click)="goToHome()" />
  </div>

  <div class="toggleMenu change" *ngIf="!isScreenBig" (click)="expandMenu()" [ngClass]="{ 'change': currentSize === 'bigger' }">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>

  <div class="nav-element-container" *ngIf="isScreenBig">
    <div class="dropdown nav-element">
      Services
      <div class="dropdown-content">
        <a [routerLink]="['/info', 'general']">General dentistry</a>
        <a [routerLink]="['/info', 'surgical']">Surgical Dentistry</a>
        <a [routerLink]="['/info', 'cosmetic']">Cosmetic Dentistry</a>
      </div>
    </div>

    <div class="dropdown nav-element">
      Dental Problems
      <div class="dropdown-content">
        <a [routerLink]="['/info', 'caries']">Caries</a>
        <a [routerLink]="['/info', 'gum']">Gum Diseases</a>
        <a [routerLink]="['/info', 'darkteeth']">DarkTeeth</a>
      </div>
    </div>


    <div class="profile dropdown nav-element">
      <app-profile></app-profile>
      <!-- TODO: Do we neet this icon here? -->
      <div class="dropdown-content">
        <div>
          <div *ngIf="!this.isLoggedIn">
            <a (click)="login()">Login</a>
            <a (click)="register()">Register</a>
          </div>
          <div *ngIf="this.isLoggedIn">
            <a>My profile</a>
            <a (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>