$textColor: darkGray;
$textSdadow: lightBlue;

.myjumbotron {
    // background-image: url("../../../assets/img/jumbotron-image.jpg");
    background-size: cover;
  }

  p {
    color: $textColor;
    text-shadow: 0px 0px 1px ($textSdadow);
  }

  h1 {
    color: $textColor;
    text-shadow: 0px 0px 2px ($textSdadow);
  }